<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gateway.payment.persistence.mapper.IOrderMapper">
	<resultMap id="alwaypayOrderMap"
		type="com.gateway.payment.entity.OrderEntity"></resultMap>
	<resultMap id="BaseResultMap"
		type="com.gateway.payment.entity.OrderEntity">
		<id column="orderid" property="orderid" jdbcType="VARCHAR" />
		<result column="persionid" property="persionid" jdbcType="INTEGER" />
		<result column="threeorderid" property="threeorderid" jdbcType="VARCHAR" />
		<result column="payno" property="payno" jdbcType="VARCHAR" />
		<result column="getewayid" property="getewayid" jdbcType="INTEGER" />
		<result column="ordertitle" property="ordertitle" jdbcType="VARCHAR" />
		<result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
		<result column="goodsdetail" property="goodsdetail" jdbcType="VARCHAR" />
		<result column="returl" property="returl" jdbcType="VARCHAR" />
		<result column="bgreturl" property="bgreturl" jdbcType="VARCHAR" />
		<result column="returnurl" property="returnurl" jdbcType="VARCHAR" />
		<result column="accountname" property="accountname" jdbcType="VARCHAR" />
		<result column="posttime" property="posttime" jdbcType="VARCHAR" />
		<result column="totalprice" property="totalprice" jdbcType="DECIMAL" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="refundmoney" property="refundmoney" jdbcType="DECIMAL" />
		<result column="ratemmoney" property="ratemmoney" jdbcType="DECIMAL" />
		<result column="rate" property="rate" jdbcType="DECIMAL" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="createdate" property="createdate" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="paysucctime" property="paysucctime" jdbcType="TIMESTAMP" />
		<result column="zongduanno" property="zongduanno" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="orderidinf" property="orderidinf" jdbcType="VARCHAR" />
		<result column="application_id" property="applicationId"
			jdbcType="INTEGER" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />

		<result column="usrMblNo" property="usrMblNo" jdbcType="VARCHAR" />
		<result column="usrName" property="usrName" jdbcType="VARCHAR" />
		<result column="usrAddr" property="usrAddr" jdbcType="VARCHAR" />
		<result column="agreement_id" property="agreementId" jdbcType="CHAR" />
		<result column="sessionToken" property="sessionToken" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="queryOrderSql">
		select *
		from alwaypay_order
		where state!=0 and getewayid &gt; 999 and getewayid &lt; 10000
		<if test="gatewayid!='' and gatewayid!=null">
			and getewayid=#{gatewayid}
		</if>
		<if test="personId!='' and personId!=null">
			and persionid=#{personId}
		</if>
		<if test="appId!='' and appId!=null">
			and app_id=#{appId}
		</if>

		and createtime &gt;= #{startDate} and createtime &lt;= #{endDate}
	</sql>

	<select id="queryOrder" resultMap="alwaypayOrderMap">
		<include refid="queryOrderSql" />
		limit #{pageNo},#{pageSize}
	</select>

	<select id="queryOrderCount" resultType="Integer">
		select count(*) from (
		<include refid="queryOrderSql" />
		) as queryOrderList
	</select>



	<select id="countOrderByOrderidinf" resultType="Integer">
		SELECT count(*)
		FROM
		alwaypay_order WHERE orderidinf = #{orderidinf}
	</select>

	

	<select id="findOrder" parameterType="String" resultMap="BaseResultMap">
	<![CDATA[
		SELECT *
		FROM alwaypay_order
		WHERE state in (${states})
		and getewayid
		in(${getewayids})
		and createtime > #{createTime}
		]]>
	</select>

	<update id="batchUpdate" parameterType="java.util.List"
		useGeneratedKeys="true" keyProperty="orderid">
		UPDATE alwaypay_order
		SET state=
		<foreach collection="list" item="orderEntity" index="index"
			separator=" " open="case orderid" close="end">
			when #{orderEntity.orderid}
			then #{orderEntity.status}
		</foreach>
		WHERE orderid IN
		<foreach collection="list" index="index" item="orderEntity"
			separator="," open="(" close=")">
			#{orderEntity.orderid}
		</foreach>
	</update>

	<select id="selectOrderStartToEnd" resultType="com.gateway.payment.entity.OrderEntity">
		<![CDATA[
		SELECT 
		  * 
		FROM
		  alwaypay_order
		WHERE state = #{fromStatus}
		  AND (
		    orderid >= #{startOrderId}
		    AND orderid <= #{endOrderId}
		  )
		]]>
	</select>
	<select id="queryOrdersByStatus" resultType="com.gateway.payment.entity.OrderEntity">
	<![CDATA[
		SELECT 
		  * 
		FROM
		  alwaypay_order 
		WHERE state = #{status}
		AND (
		    orderid >= #{startOrderId}
		    AND orderid <= #{endOrderId}
		  )
  	]]>
	</select>

</mapper>