@charset "UTF-8";
a {
    color: #2ea7e7;
}
a:hover {
	text-decoration:none;
	color:#ff5d5b
}
.clearfix {
	display:block;
}
#logo {
    position: relative;
    width: 165px;
    margin: 10px 0 0;
    height: 60px;
}
#logo  img {
	border: 0;
    vertical-align: middle;
}
#logo b {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
	font-size: 14px;
}
.payment {
    background-color: #fff;
    padding: 12px 30px 0;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.order {
    position: relative;
}
.order .o-left {
    float: left;
    width: 640px;
    padding: 15px 0 10px 10px;
}
.order .o-title {
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    font-size: 14px;
}
.order .o-tips {
    line-height: 30px;
    height: 30px;
}
.order .o-right {
    float: right;
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 125px;
    overflow: hidden;
}
.order .o-price {
    text-align: right;
    line-height: 26px;
    margin-bottom: 4px;
}
.order .o-price em {
    vertical-align: bottom;
}
.order .o-price strong {
    font-size: 18px;
    vertical-align: bottom;
    color: #ff5d5b;
    margin: 0 3px;
}
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.payment {
    background-color: #fff;
    padding: 12px 30px 0;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.logo-wrap {
    position: relative;
}
.logo-wrap .rt-logo {
    width: 114px;
    height: 35px;
    position: absolute;
    left: -35px;
    top: 0;
    background-image: url(../images/pay_icon.png);
}
.payment .notice {
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
    color: #4b5b78;
}
.notice .p-tips {
    float: left;
    color: #999;
    filter: alpha(Opacity=80);
    opacity: .8;
}
.paybox.paybox-selected {
    margin-top: -2px;
    border: 2px solid #b0c2e1;
    padding: 0;
    border-radius: 2px;
    background-color: #fff;
}
.paybox .p-wrap {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bank-area {
    padding: 15px 58px 0;
	display: inline-block;
}
.bank-area ul li{
    float: left;
    background-color: #fff;
    padding: 5px 0;
	width: 300px;
    margin-right: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}
.payment-list .pl-item .bank-logo {
    margin-left: 25px;
}
.pay-verify {
	padding: 20px 0 20px 15px;
}
.ui-button {
    display: inline-block;
    height: 45px;
    line-height: 43px;
    padding: 0 28px;
    color: #fff;
	font-size: 18px;
    width: 220px;
    font-family: "Microsoft Yahei";
    font-weight: 700;
    border: 1px solid #f96765;
    background-color: #ff7573;
    background-image: -moz-linear-gradient(top,#ff7573,#f96765);
    background-image: -webkit-linear-gradient(top,#ff7573,#f96765);
    background-image: -o-linear-gradient(top,#ff7573,#f96765);
    background-image: linear-gradient(to bottom,#ff7573,#f96765);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7573', endColorstr='#f96765', GradientType=0);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.pay-weixin {
    width: 100%;
    position: relative;
    display: inline-block;
}
.p-w-hd {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Microsoft Yahei";
}
.p-w-bd {
    padding-left: 130px;
    margin-bottom: 30px;
}
.wx_info {
	position:absolute;
	top: -36px;
	left: 130px;
	font-size: 14px;
}
.qrCodeCountdown {
    color: #ff5d5b;
	font-weight: 700;
}
.p-w-box {
    float: left;
    width: 300px;
}
.pw-box-hd {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 298px;
    height: 298px;
}
.p-w-sidebar {
    float: left;
    width: 379px;
    height: 441px;
    padding-left: 50px;
    margin-top: -20px;
}

.paybox.paybox-order {
    margin: 30px -15px 20px;
    background-color: #eee;
}
.paybox.paybox-order .po-wrap{
    position: relative;
	padding-left: 15px;
}
.paybox.paybox-order  p {
    line-height: 32px;
}
.paybox.paybox-order  p.b-line {
    border-bottom: 1px solid #d4d4d4;
}
.paybox .p-wrap .p-bankCard {
	float: left;
    font-size: 14px;
    color: #000;
    padding-right: 10px;
    line-height: 32px;
}
.bank-identific {
    margin-bottom: 20px;
    line-height: 32px;
}
.bank-identific .bi-input {
    position: relative;
    width: 310px;
    height: 20px;
    padding: 5px 0 5px 10px;
    line-height: 20px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #ededed inset;
    vertical-align: middle;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
}
.ui-icon-pen {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/icon_edit.png) no-repeat;
    vertical-align: middle;
}
.bank-identific .bi-input .ui-icon-pen {
    vertical-align: top;
    margin-top: 3px;
}
.bank-identific .bi-input .bi-i-text {
    height: 20px;
    width: 290px;
    border: 0;
    margin: 0;
	outline: 0;
}
.bank-identific .bi-input .bi-i-result {
    position: absolute;
    line-height: 20px;
    width: 110px;
    right: 5px;
    top: 5px;
    color: #999;
    text-align: right;
}
.bank-wrap {
    padding: 15px 58px 0;
}
.bank-wrap .bw-tab-content {
    padding: 20px 10px 0;
}
.bank-wrap .payment-list {
    width: 800px;
	display: table;
}
.bank-wrap .pl-wrap {
    padding-bottom: 12px;
	width: 800px;
}
.payment-list .pl-item {
    position: relative;
    float: left;
    background-color: #fff;
    padding: 5px 0;
    height: 28px;
    width: 188px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #b0c2e1;
    border-radius: 2px;
    -moz-transition: border-color .2s;
    -o-transition: border-color .2s;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
}
.payment-list .pl-item:hover,.payment-list .pl-item:focus {
	border-color:#ff5d5b;
	z-index:20;
}
.payment-list .pl-item .bank-logo {
    margin-left: 25px;
}
#bank-icbc {
    background-position: 0 -140px;
}
#bank-ccb {
    background-position: 0 -336px;
}
#bank-cmb {
    background-position: 0 -784px;
}
#bank-abc {
    background-position: 0 -532px;
}
#bank-bcm, #bank-bcom {
    background-position: 0 -392px;
}
#bank-cgb, #bank-gdb {
    background-position: 0 -196px;
}
#bank-boc {
    background-position: 0 -840px;
}
#bank-cmbc {
    background-position: 0 -448px;
}
#bank-hxb {
    background-position: 0 -308px;
}
#bank-cib {
    background-position: 0 -756px;
}
#bank-ceb {
    background-position: 0 -168px;
}
.payment-list .pl-more {
    float: left;
    background-color: #d8f1ff;
    padding: 5px 0;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    width: 188px;
    border: 1px solid #e9f7ff;
    text-align: center;
    color: #2ea7e7;
    font-weight: 700;
    cursor: pointer;
    -moz-transition: background-color .2s,color .2s;
    -o-transition: background-color .2s,color .2s;
    -webkit-transition: background-color .2s,color .2s;
    transition: background-color .2s,color .2s;
}
.payment-list .pl-more:hover {
	color:#fff;
	background-color:#ff5d5b
}
.bank-wrap .bw-quick {
    padding-top: 4px;
}
.bank-wrap .bw-quick .auth-tips {
    padding-left: 85px;
    padding-bottom: 10px;
    color: #ff5d5b;
}
.bank-wrap .bw-quick.type-credit {
    background: url(../images/credit_bg.png) center right no-repeat;
}
.bank-wrap .bw-quick.type-credit-month {
	background:url(../images/credit_bg_month.gif) center right no-repeat
}
.bank-wrap .bw-quick.type-credit-year {
	background:url(../images/credit_bg_year.gif) center right no-repeat
}
.ui-form .ui-form-line {
    margin-bottom: 15px;
	height: 36px;
}
.ui-form .ui-form-label {
    float: left;
    text-align: right;
    width: 75px;
    line-height: 32px;
}
.ui-form .ui-form-group {
    margin-left: 85px;
    line-height: 32px;
}
.bank-selected {
    width: 325px;
    height: 38px;
    border: 1px solid #b0c2e1;
    line-height: 38px;
    border-radius: 2px;
}
.bank-wrap .bw-quick .bank-selected {
    margin-top: -4px;
    width: auto;
    padding-right: 15px;
}
.bank-selected .bank-logo {
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 5px;
}
.bank-selected em {
    float: left;
}
.ui-icon-return {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/icon_return.png) no-repeat;
    vertical-align: middle;
}
.bank-wrap .bw-quick .bw-q-return:hover .ui-icon-return {
	background: url(../images/icon_return_hover.png) no-repeat;
}
.ui-radio-wrap {
    cursor: pointer;
}
.bank-wrap .bw-quick .bw-q-switch span {
    cursor: pointer;
}
.ui-radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.ui-input {
    width: 208px;
    height: 20px;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #ededed inset;
    vertical-align: middle;
    -moz-transition: border-color .1s;
    -o-transition: border-color .1s;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
}
.ui-input:hover,.ui-input:focus {
    outline-style: none;
    border-color: #b0c2e1;
}
.ui-input.ui-input-error {
    border-color: #ff5d5b;
}
.ui-select {
    height: 32px;
    line-height: 28px;
    padding: 4px 2px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #b0c2e1;
    background-color: #fff;
    font-size: 12px;
    border-radius: 2px;
    width: 80px;
}
.ui-input-phonecode {
	float: left;
	width: 110px;
}
.btn-phonecode {
    float: left;
    width: 88px;
    height: 32px;
    border: 1px solid #c6c6c6;
    background: #f2f2f2;
    color: #333;
    padding: 0;
	margin-left:10px;
}
.font-red {
    color: #ff5d5b;
}
.ui-button-XL {
    height: 50px;
    line-height: 48px;
    padding: 0;
    font-size: 18px;
    width: 220px;
    font-family: "Microsoft Yahei";
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.ui-button.disable {
    cursor: default;
    background: #b5b5b5;
    border-color: #b5b5b5;
    box-shadow: none;
    filter: none;
}
.bank-return {
	float: left;
    margin-left: 30px;
}
.bank-return a i {
    font-family: "\5b8b\4f53";
    font-style: normal;
    margin-right: 5px;
}
/*常见问题*/
.mod-h01 {
    margin: 30px 0;
}
.mod-h01 .mt {
    line-height: 25px;
	border-bottom: 1px solid #ddd;
}
.mod-h01 .mt .title {
    font-family: "microsoft yahei";
    color: #333;
	font-weight: 700;
}
.mod-h01 .mc {
    padding-top: 12px;
	line-height: 25px;
}
.mod-h01 .mc p {
    font-family: "microsoft yahei";
    color: #999;
}

/*弹框*/
.ui-modal {
    display: none;
    position: absolute;
    left: 50%;
    z-index: 10001;
    border: 1px solid #b1b1b1;
}
.wangyin-modal-success {
    width: 430px;
    left: 50%;
    margin-left: -240px;
}
.ui-modal .ui-modal-head {
    overflow: hidden;
    padding: 10px 20px;
    background: #333a4c;
}
.ui-modal .ui-modal-head .um-h-close {
    float: right;
    font-size: 26px;
	color: #fff;
    cursor: pointer;
}
.ui-modal .ui-modal-content {
    padding: 30px;
    background: #fff;
}
.wangyin-payed-success .wps-info {
	width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wangyin-payed-success .wps-info p {
    margin-bottom: 5px;
}
.wangyin-payed-success  p.wps-text {
	font-size: 24px;
	color: #69cd8e;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	background: url(../images/payed_success.png) no-repeat;
	padding-left: 43px;
	line-height: 33px;
}
.wangyin-payed-success .wps-bank {
    width: 260px;
    margin: 0 auto;
    margin-top: 20px;
}
.wangyin-payed-success  p.wps-balance {
	font-size: 16px;
	color: #333a4c;
	margin-bottom: 20px;
	background: url(../images/bankCard.png) no-repeat;
	padding-left: 88px;
	line-height: 28px;
}
.wangyin-payed-success  p.wps-text i {
	font-size: 32px;
	padding-right: 20px;
}
.wangyin-payed-success .wps-other {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.wangyin-payed-success .wps-other .wps-o-left {
    float: left;
}
.wangyin-payed-success .wps-other .wps-o-left {
    padding-right: 25px;
}
.wangyin-payed-success .wps-other .wps-o-line {
    line-height: 22px;
}
.wangyin-payed-success .wps-other .wps-o-right {
    float: right;
}
.ui-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #7f7f7f;
    border: 0;
    filter: alpha(opacity=50);
    opacity: .5;
}
.wangyin-payed-success .wps-note {
    margin-bottom: 30px;
    text-align: center;
}
.wangyin-payed-success p.wps-txt {
    font-size: 20px;
    color: #333A4C;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.wangyin-payed-success .form-item {
    padding-top: 20px;
	height: 39px;
}
.form-item .checkcode-text {
	float: left;
    border: 1px solid #959595;
    width: 246px;
    line-height: 27px;
    padding: 5px;
    font-size: 14px;
}
.form-item .btn-weak {
	float: left;
    width: 108px;
    height: 39px;
    outline: none;
    padding-left: 5px;
    background: #bfbfbf;
	border: 1px solid #959595;
	border-left: 0;
	color: #fff;
    cursor: pointer;
}
.btn-payment {
    height: 40px;
    line-height: 38px;
    padding: 0;
    font-size: 18px;
    width: 90px;
    font-family: "Microsoft Yahei";
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.btn-roger {
    height: 40px;
    line-height: 38px;
    padding: 0;
    font-size: 18px;
    width: 88px;
    font-family: "Microsoft Yahei";
    font-weight: 700;
    background: #fff;
    color: #f96765;
}

.help-tip{
	position: relative;
	display: inline-block;
}
.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}
.help-tip p{
	display: none;
	text-align: left;
	background-color: #fff;
	padding: 10px 15px;
	width: 260px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	left: -140px;
	top: 24px;
	color: #999;
	font-size: 12px;
	line-height: 20px;
}
.help-tip p:before, .help-tip p:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
}
.help-tip p:before{
	border-top-width: 0;
    border-bottom-color: #DDDCDB;
    top: -10px;
    left: 57%;
}

.help-tip p:after{
	border-top-width: 0;
    border-bottom-color: #fff;
    top: -9px;
    left: 57%;
	z-index: 1;
}

/*已有银行卡*/
.row-container {
    padding: 2px 2px 1px;
    position: relative;
    margin-bottom: 1px;
    border-bottom: 1px solid #e6e6e6;
}
.row-container-focus, .row-container:hover {
    padding: 0;
    border: 2px solid #cad6ef;
}
.row-container-focus, .row-container-focus:hover {
    border-color: #85a1d4;
}
.row-basic {
    height: 52px;
    width: 100%;
    line-height: 52px;
    cursor: pointer;
}
.channel-label {
    display: block;
    height: 100%;
    width: 100%;
}
.pay-amount {
    float: right;
    margin-right: 17px;
    margin-left: 5px;
    min-width: 150px;
    text-align: right;
    padding: 10px 0;
    height: 32px;
    line-height: 32px;
}
.fn-hide, .hidden {
    display: none;
}
.channel-tit {
    margin-left: 50px;
}
.channel-icon {
    height: 15px;
    width: 25px;
    float: left;
    margin-top: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 5px;
}
.banklogo-MONEYFUND_s, .banklogo-CMB_s, .banklogo-ICBC_s, .banklogo-CITIC_s {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.banklogo-CMB_s {
    background-image: url(../images/CMB_s.png);
}
.banklogo-CITIC_s {
    background-image: url(../images/CITIC_s.png);
}
.banklogo-ICBC_s {
    background-image: url(../images/ICBC_s.png);
}
.channel-name {
    font-size: 14px;
    float: left;
}
.channel-bank .channel-name {
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
}
.row-basic .card-number {
    width: 65px;
    float: left;
    min-height: 20px;
}
.row-basic .card-type {
    min-width: 88px;
    float: left;
}
input, select, textarea {
    font-size: 100%;
}
.channel-input {
    position: absolute;
    left: 24px;
    top: 19px;
}
.row-container-focus .channel-input, .row-container:hover .channel-input {
    left: 22px;
    top: 17px;
}
.manage-list {
    padding-top: 10px;
	height: 35px;
}
.manage-list .manage-item {
	display: inline;
    margin-right: 10px;
    height: 33px;
    line-height: 33px;
    border: 1px dashed #ccc;
    text-decoration: none;
    text-align: center;
    min-width: 105px;
	padding-left: 0;
	padding-right: 0;
}
.manage-list .manage-item:hover,.manage-list .manage-item:focus {
	border:1px solid #08c;
	background-color:#08c;
	color:#fff
}